.brand-header-wrapper {
  padding:20px 0;
}

.brand-header {
  display: block;
}
.brand-header-logo {
  margin-bottom: 20px;
  max-width:240px;
}
.brand-header img {
  width:100%;
  height:auto;
  display: block;
}
.brand-header-beboulder {
  max-width:240px;
  width:100%;
  min-width: 180px;
}


@media screen and (min-width:768px) {
  .brand-header {
    display:flex;
    justify-content: space-between;
    align-items:center;
  }
  .brand-header-logo {
    max-width:320px;
    min-width: 180px;
    width:100%;
  }
}



#global ul {
  margin:0;
}
